body{
    background-image: url(academia.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.square{
    height: auto;
    padding-bottom: 30px;
    width: 500px;
    background-color:white;
    border-radius: 3%;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
}

.row{
    margin: auto;
    width: 20%;
    padding: 50px;
}

.calculadoraImc{
font-family: 'Jost', sans-serif;
font-size: 19px;
padding: 5px;
margin-left: 20px;
margin-bottom: 10px;
height: 25px;
width: 87%;
border-radius: 4px;
}

.square h1{
    font-family: 'Jost', sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding-top: auto;
    color: grey;
    text-align: center;
    margin-top: 0px;
}

.imcTitulo{
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: grey;
    margin-bottom: 50px;
    margin-left: 20px;
    font-size: 25px;
}

.atividadeFisica{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    color: grey;
    font-size: 25px;
    height: 40px;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 20px;
}

.botaoCalcula{
    color: white;
    background-color: #010B40;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    margin-left: 18px;
    width: 90%;
    height: 55px;
    font-size: 25px;
}

.mensagemFinal{
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 23px;
    text-align: justify;
    color: grey;
}